<div>
  <ul class="list-group">
    <li class="list-group-item">{{ student.firstName }}</li>
    <li class="list-group-item">{{ student.lastName }}</li>
    <li class="list-group-item">{{ student.perNO }}</li>
  </ul>
  <button class="btn btn-warning" (click)="showForm = !showForm">
    {{ showForm ? "Hide" : "Edit" }}
  </button>
  <button class="btn btn-danger" (click)="deleteStudent()">Delete</button>

  <app-student-form
    *ngIf="showForm"
    [useClear]="true"
    [editStudent]="student"
    (result)="updateStudent($event)"
  ></app-student-form>
</div>
